/* ---------------------------
    layout common:
-----------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
  line-height: 1.4;
}
h4 {
  font-size: 1.8rem;
  line-height: 1.4;
}
h5 {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  color: $blue;
  text-decoration: none;
}

main {
  padding: $l-padding 0;
}

@media only screen and (min-width: 768px) {
  main {
    padding: $l-padding + 10px 0;
  }
}
