/* ---------------------------
    layout common:
-----------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}
h3 {
  font-size: 2.4rem;
  line-height: 1.4;
}
h4 {
  font-size: 1.8rem;
  line-height: 1.4;
}
h5 {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  color: $blue;
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.l-container {
  padding: 0 10px;
}

main {
  padding: $l-padding 0;

  &.post-page {
    padding-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .l-container {
    padding: 0 15px;
  }
  main {
    padding: $l-padding + 10px 0;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 3.6rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 2rem;
  }
  p {
    font-size: 1.8rem;
  }
  a {
    font-size: 1.8rem;
  }
  .l-container {
    padding: 0 30px;
    max-width: $max-container-width;
    margin: 0 auto;
  }
  main {
    padding: $l-padding + 20px 0;
  }
}
