/* -------------------------------------
    footer:
-------------------------------------- */
.l-footer {
  padding: $m-padding 10px $s-padding;
  background-color: $black;
  color: #fff;

  .l-footer-menu {
    margin-bottom: $s-margin;

    ul {
      list-style: none;
      margin: 0;
      display: flex;
      flex-wrap: wrap;

      li {
        line-height: 1.5;
        &:after {
          content: "|";
          display: inline-block;
          margin: 0 10px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }
      }

      a {
        color: #fff;
      }
    }
  }

  .l-footer-contact {
    margin-bottom: $s-margin + 10px;

    p {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      svg {
        margin-right: 10px;
      }
    }
  }

  .l-copyright {
  }
}

@media only screen and (min-width: 768px) {
  .l-footer {
    padding: 40px 15px;
  }
}

@media only screen and (min-width: 992px) {
  .l-footer {
    padding: 0;
    .l-container {
      padding: 40px 30px;
      max-width: $max-container-width;
      margin: 0 auto;
    }
  }
}
