/* ----------------------------
    home:
------------------------------ */

/* banner: */
.l-home-banner {
  margin-bottom: $l-margin;
}

/* my skills: */
.l-home-skills {
  margin-bottom: $l-margin;

  .title-section {
    padding: 0 10px;

    &:after {
      left: 10px;
    }
  }

  .l-accordion {
    padding: 10px;
    background-color: $red-darkest;
    color: #fff;
  }

  .l-accordion-item {
    margin-bottom: 20px;

    h3 {
      position: relative;

      span {
        position: absolute;
        right: 30px;
        top: 0px;
        font-size: 2rem;
      }
    }

    ul {
      display: none;
      list-style: none;
      margin-left: 0;

      li {
        margin-bottom: 0;
        font-size: 1.8rem;
        line-height: 1.6;
      }

      &.is-active {
        display: block;
      }
    }
  }
}

/* latest projects: */
.l-latest-projects {
  margin-bottom: $l-margin;
  padding: 0 10px;

  .title-section {
    padding: 0 10px;

    &:after {
      left: 10px;
    }
  }

  .l-portfolio-project {
    .l-img {
      padding: 10px;
      border: 1px solid $gray;

      a {
        display: block;
      }
      img {
        height: 300px;
        object-fit: cover;
        object-position: center;
      }
    }
    .l-content {
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 100%;

      h3 {
        display: inline-block;
        padding: 5px 10px;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
      }
      h4 {
        display: none;
      }
    }
  }
}

/* testimonials: */
.l-home-testimonials {
  .carousel.carousel-slider .slide {
    background-color: $red;
  }

  .title-section {
    padding: 0 10px;

    &:after {
      left: 10px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .l-home-skills {
    .title-section {
      padding: 0 15px;
    }
    .l-accordion {
      display: flex;
      justify-content: space-between;
      padding: 15px;
    }
    .l-accordion-item {
      margin-bottom: 0;

      h3 span {
        display: none;
      }

      ul {
        display: block;
        margin-bottom: 0;
        padding-left: 10px;
      }
    }
  }

  .l-latest-projects {
    .title-section {
      padding: 0 15px;
    }
    .l-portfolio-project {
      .l-img img {
        height: 450px;
      }
    }
  }

  .l-home-testimonials {
    .title-section {
      padding: 0 15px;
    }
    .m-testimonial {
      padding: 40px 25%;
    }
  }
}

@media only screen and (min-width: 992px) {
  .l-latest-projects {
    .title-section {
      padding: 0 30px;
      &:after {
        left: 30px;
      }
    }
    .l-home-projects {
      padding: 0 30px;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;
      grid-template-areas:
        "img1 img1 img1 img1 img2 img2"
        "img1 img1 img1 img1 img3 img3"
        "img4 img4 img4 img5 img5 img5";

      .l-portfolio-project {
        position: relative;
        padding: 10px;
        box-shadow: 0 0 3px $gray;
        border-radius: 4px;
        .l-img {
          height: auto;
          a {
            height: auto;
          }
          img {
            width: 100%;
            height: auto;
            margin-bottom: 0;
            display: block;
            object-fit: cover;
            object-position: center;
          }
        }
        .l-content {
          bottom: 20px;
          text-align: center;
        }
      }

      .portfolio-project-0 {
        grid-area: img1;

        .l-img img {
          height: 300px;
        }
      }
      .portfolio-project-1 {
        grid-area: img2;
        .l-img img {
          height: 150px;
        }
      }
      .portfolio-project-2 {
        grid-area: img3;
        .l-img img {
          height: 150px;
        }
      }
      .portfolio-project-3 {
        grid-area: img4;
        .l-img img {
          height: 200px;
        }
      }
      .portfolio-project-4 {
        grid-area: img5;
        .l-img img {
          height: 200px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .l-latest-projects {
    .l-home-projects {
      .portfolio-project-0 {
        .l-img img {
          height: 400px;
        }
      }
      .portfolio-project-1 {
        .l-img img {
          height: 200px;
        }
      }
      .portfolio-project-2 {
        .l-img img {
          height: 200px;
        }
      }
      .portfolio-project-3 {
        .l-img img {
          height: 300px;
        }
      }
      .portfolio-project-4 {
        .l-img img {
          height: 300px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  .l-latest-projects {
    .l-home-projects {
      .portfolio-project-0 {
        .l-img img {
          height: 500px;
        }
      }
      .portfolio-project-1 {
        .l-img img {
          height: 250px;
        }
      }
      .portfolio-project-2 {
        .l-img img {
          height: 250px;
        }
      }
      .portfolio-project-3 {
        .l-img img {
          height: 350px;
        }
      }
      .portfolio-project-4 {
        .l-img img {
          height: 350px;
        }
      }
    }
  }
}
