/* ---------------------
    post:
------------------------*/
.l-post {
  .l-img {
    margin-bottom: $m-margin;
    img {
      display: block;
      width: 100%;
      height: auto;
      margin-bottom: 0;
      object-fit: contain;
      object-position: center;
    }

    .gatsby-image-wrapper > div {
      padding-bottom: 60% !important;
    }
  }
  .l-header {
    padding: 30px 10px;
    margin-bottom: $s-margin;
    text-align: center;
    color: #fff;
    background-color: $red-darkest;
  }
  .l-content {
    padding: 0 10px;
  }
  .l-back {
    padding: 20px 10px 0;
  }
  h3.m-post-title {
    margin-bottom: 20px;
  }
  h4.m-post-subtitle {
    margin-bottom: 0;
  }
  p.m-post-date {
    margin-bottom: 20px;
  }
  p {
    line-height: 1.42;
    &:empty {
      margin-bottom: 0;
    }
  }
  img {
  }
}

.l-posts-list {
  .l-title {
    margin-bottom: $m-margin;
  }
  .l-content {
    padding: 0 10px;
    > ul {
      list-style: none;
      margin: 0;

      > li {
        margin-bottom: $m-margin;
        &:last-child {
          margin-bottom: 0;
        }
        .post-item {
          display: flex;
        }
        .l-img {
          margin-right: 20px;
          width: 80px;
          height: 80px;
          flex-basis: 80px;
          overflow: hidden;
          border-radius: 50px;
          border: 1px solid $gray;

          img {
            display: block;
            width: 80px;
            height: 80px;
            object-fit: cover;
            object-position: center;
          }

          .gatsby-image-wrapper > div {
            padding-bottom: 100% !important;
          }
        }
        .l-desc {
          max-width: calc(100% - 110px);

          h3 {
            margin-bottom: 5px;
            font-size: 2rem;
          }
          p {
            margin-bottom: 0;
            font-size: 1.3rem;
            font-style: italic;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .l-post .l-img .gatsby-image-wrapper > div {
    padding-bottom: 50% !important;
  }
  .l-posts-list .l-content {
    padding: 0 15px;
  }
  .l-post .l-content {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 992px) {
  .l-post .l-img .gatsby-image-wrapper > div {
    padding-bottom: 45% !important;
  }
  .l-posts-list .l-content {
    padding: 0 30px;
    max-width: $max-container-width;
    margin: 0 auto;

    > ul > li {
      .l-img {
        margin-right: 30px;
        width: 120px;
        height: 120px;
        flex-basis: 120px;
        border-radius: 100%;

        img {
          width: 120px;
          height: 120px;
        }
      }
      .l-desc {
        padding-top: 10px;
        h3 {
          margin-bottom: 10px;
          font-size: 2.4rem;
        }
        p {
          font-size: 1.4rem;
        }
      }
    }
  }
  .l-post {
    .l-header {
      margin-bottom: $m-margin;
    }
    .l-img {
      padding: 0 30px;
      max-width: $max-container-width;
      margin: 0 auto $m-margin;
    }
    .l-content {
      padding: 0 30px;
      max-width: $max-container-width;
      margin: 0 auto;
    }
    .l-back {
      padding: 0 30px;
      max-width: $max-container-width;
      margin: $l-margin auto 0;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .l-post .l-img .gatsby-image-wrapper > div {
    padding-bottom: 40% !important;
  }
}

@media only screen and (min-width: 1600px) {
  .l-post .l-img .gatsby-image-wrapper > div {
    padding-bottom: 35% !important;
  }
}
