/* banner: */
.m-banner {
  .m-banner-slide {
    position: relative;

    .l-img {
      position: relative;

      &:before {
        content: "";
        display: block;
        padding-top: 80%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .l-banner-content {
      position: absolute;
      bottom: 40px;
      width: 100%;
      left: 0;
      text-align: center;

      h3 {
        display: inline-block;
        padding: 5px 10px;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
      }
      p {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .m-banner {
    .m-banner-slide .l-img:before {
      padding-top: 40%;
    }
  }
}
