/* ----------------------------
    carousel:
------------------------------*/
.carousel.carousel-slider {
  .slide { background-color: #fff; }
  .control-dots {
    margin-bottom: 15px;

    .dot {
      width: 15px;
      height: 15px;
      margin: 0 10px;
    }
  }
}