/* ---------------------------
  modules common:
-----------------------------*/

/* hamburger-menu: */
.m-hamburger-menu {
  font-size: 3rem;
  color: $black;
}

/* titles: */
.title-section {
  position: relative;
  margin-bottom: $m-margin;
  font-size: 2.4rem;
  text-transform: uppercase;

  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 80px;
    height: 3px;
    background-color: $red-dark;
  }
}

.m-testimonial {
  padding: $s-padding 15px $m-padding;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.6rem;

  p {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  span {
    font-size: 1.4rem;
    font-weight: 700;
    color: $black;
  }
}

code {
  margin: 0 0 1.45rem;
  font-size: 1.3rem;
  line-height: 1.42;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  overflow: auto;
  padding: 1.45rem;
  white-space: pre-wrap;
  display: block;
}

.m-post-title {
}
.m-post-date {
  font-size: 1.2rem;
  font-style: italic;
}

.title-page {
  padding: 20px 10px;
  text-align: center;
  color: #fff;
  background-color: $red-darkest;
}

@media only screen and (min-width: 768px) {
  .m-hamburger-menu {
    font-size: 4rem;
  }
  .title-section {
    font-size: 2.8rem;
  }
  .title-page {
    padding: 30px 10px;
    font-size: 3.6rem;
  }
}
