/* brand colors: */
$black: #1a1a1d;
$gray-dark: #4e4e50;
$gray: #adadad;
$green: #379683;
$red-darkest: #6f2232;
$red-dark: #950740;
$red: #c3073f;
$blue: #240090;

$c-copy: $black;
$c-copy-light: $gray;

/* margins: */
$s-margin: 20px;
$m-margin: 40px;
$l-margin: 60px;

/* paddings: */
$s-padding: 20px;
$m-padding: 40px;
$l-padding: 60px;
