/*-------------------------------
    styles:
--------------------------------*/
@import "./variables";
@import "./fonts";
@import "./base";

/* layout: */
@import "./layout/common";
@import "./layout/header";
@import "./layout/home";
@import "./layout/post";
@import "./layout/portfolio";
@import "./layout/contact";
@import "./layout/services";
@import "./layout/404";
@import "./layout/thank-you";
@import "./layout/footer";

/* library: */
@import "./library/animate";

/* modules: */
@import "./modules/carousel";
@import "./modules/common";
@import "./modules/banner";
